*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    color:#fff;
}
a:active,
a:focus,
button:active,
button:focus{
    outline: none;
    box-shadow: none;
}
a:hover{
    color:#fff;
    text-decoration: none;
}
iframe{
    width: 100%;
    height: 500px;
}
.section-block{
    padding: 100px 0px;
}
.section-block img{
    width: 100%;
}
.section-block .section-title{
    font-weight:bold;

    font-size:48px;
    text-align: center;
}
.section-block .divider{
    width:100px;
    margin-bottom: 5rem;
    height: 5px;
    background-color: #0143D8;
}
.scroll-top{
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 10;
    background-color: #0143D8;
    color:#fff;
    transition: all .4s ease-in;
}
.scroll-container .title{
    font-weight: bold;
    margin-bottom: 0;
}

.scroll-container{
    padding: 20px;
}
.scroll-top:after{
    content:'';
    background:#000;
    display: block;
    height: 25px;
    position: absolute;
    background-color: #0143D8;
    width: 100%;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
    transition: all .4s ease-in;
}
.scroll-top:hover,
.scroll-top:hover:after{
    background-color: #fff;
}
.menu-btn{
    background-color: #0143D8;
    color:#fff;
    border:none;
    position: fixed;
    top: 30px;
    z-index: 10;
    height:40px;
    width:40px;
    right: 30px;
}
.menu-btn:active,
.menu-btn:focus{
    outline: none;
    box-shadow: none;
}
.menu-btn:hover{
    cursor: pointer;
}
.menu-btn i{
    transition: all .5s ease-in;
}
.menu-btn:hover i{
    transform:rotate(90deg);
    background-color: #fff;
}
header{
    height: 110vh;
    background-image: url('../img/header-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}
header:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to right, #3D0B51 1%, #0F0684 80%);
    opacity: .7;
}
header .title{
    margin-top: 100px;
}
header .title-studio{
    color: #fff;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    line-height: 36px;
    font-weight: 300;
}
.navbar{
    padding:.9rem 1rem;
}
.navbar a{
    color:#fff;
    z-index: 2;
    transition: all .3s ease-in-out;
}
.navbar a:hover{
    color:#0143D8;
}
.social-links{
    position: absolute;
    bottom: 120px;
    left: 0;
    width: 100%;
}
.social-links .social-container{
    list-style-type: none;
    padding: 0;
}
.social-container li{
    margin-right: 50px;
}

.social-container li a{
    font-size:30px;
    transition: all .3s ease;
}
.social-container li a:hover{
    color:#0143D8;
}

.about-section .text{
    padding: 100px 50px;
    background-color: #0143D8;
    color: #fff;
}
.about-section .title{
    font-weight: bold;
    margin-bottom: 20px;
}
.about-section .image{
    background-image: url('../img/about-us.jpg');
    background-size: cover;
    background-position: center;
}
.about-section .row{
    margin-top: -150px;
}
.services .description{
    position: absolute;
    opacity: 0;
    left: 0;
    top: 20%;
}
.services .service{
    background-image: url('../img/record-srvs.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    color:#fff;
    height:350px;
    position: relative;
    z-index: 1;
}
.services .service-container{
    height: 100%;
    position: relative;
}
.services .service:hover{
    cursor: pointer;
}
.services .service:hover:before{
    background: linear-gradient(to right, #3D0B51 5%, #0F0684 80%);
    opacity: .8;
}
.services .service:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .6);
}
.services .title{
    text-align: center;
    font-weight:bold;
    font-size:30px;
}
.services .title-container{
    height: 100%;
}
.services .compound-service{
    background-image: url('../img/compound.jpg');
}
.services .mastering-service{
    background-image: url('../img/mastering.jpg');
}
.how-we-work{
    background-image: url('../img/video-bg.jpg');
    background-size: cover;
    height:500px;
    background-position: center;
    position: relative;
    padding: 0;
}
.how-we-work .section-title{
    padding-top: 100px;
}
.how-we-work .youtube-container{
    color: #fff;
    position: relative;
    
}

.how-we-work:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #3D0B51 5%, #0F0684 80%);
    opacity: .6;
    z-index: 0;
}

.how-we-work .button-container{
    margin-top: 40px;
}
.our-clients img{
    filter: brightness(60%);
}
.our-clients .row{
    margin-bottom: 30px;
}
.our-clients .client{
    display: block;
    color:#9a9a9a;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    font-style: italic;
    line-height: 1;
    font-size:20px;
    transition: all .3s ease;
}
.button-container button{
    background: none;
    border:none;
    font-size:100px;
    color:#fff;
}
.button-container button i{
    text-shadow: 1px 1px 22px black;
    transition: all .3s ease;
}
.button-container button i:hover{
    cursor: pointer;
    color: #0F0684;
    text-shadow: none;
}
.prices{
    background:url('../img/prices-block.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}
.prices:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: -1;
}
.prices .section-title{
    color:#fff;
}
.prices .price-container{
    background-color: #fff;
    padding: 30px 20px;
}
.price-container .price-title{
    text-align: center;
    font-weight: bold;
}
.price-container .service-title{
    text-align: center;
}
.price-container .divider{
    margin-bottom: 30px;
}
.price-title sup,
.price-title sub{
    font-size:.8rem;
    font-weight: normal;
}
.price-title sup{
    top: -1.45rem;
}
.prices .service-content .content-item{
    border-bottom: 1px solid #ccc;
    padding: 5px 0px;

}
.news-section .news-content{
    background-color: #0F0684;
    color:#fff;
    padding: 100px 50px;
}
.news-section .news-image{
    background: url('http://placehold.it/1600x800');
    background-position: center;
    background-size: cover;
    height: 500px;
}
.news-section .news-button{
    position: absolute;
    right: 43%;
    bottom:20px;
}
.news-section .carousel-indicators{
    right: -140px;
    left:initial;
    bottom: 20px;
}
.news-section .prev-btn{
    right:46%;
}
.testimonials .carousel-indicators{
    bottom: -40px;
}
.testimonials .carousel-indicators li{
    background-color: #9a9a9a;
}
.testimonials .carousel-indicators li.active{
    background-color: #0F0684;
}
.testimonials .testimonial p{
    text-align: center;
}
.gallery{
    padding: 0;
}
.gallery .grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
}
.gallery .photo{
    overflow: hidden;
}
.gallery .photo>img{
    transition: all .7s ease-in-out;
}
.gallery .photo:hover>img{
    cursor: pointer;
    transform: scale(1.3);
}
.contacts .map-container{
    height: 500px;
}
.contact-form form{
    width: 70%;
}

.contact-form form .form-control{
    border-radius: 0px;
    background-color: #D1DEFF;
    border:none;
    padding: 0.875rem .75rem;
}
.form-control:focus{
    box-shadow: 0 0 5px 0px #0F0684;
}
.contact-form form .btn{
    background-color: #0F0684;
    border-radius: 0px;
    color:#fff;
}